
* {
    font-family: 'JetBrainsMono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
}

.pagebox {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
    gap:5rem;
}

.content {
    margin-top:5rem;
}