
* {
    font-family: 'JetBrainsMono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    background-color: #FFB6C1;
}

.pagebox {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
    gap:5rem;
}

@media (max-width: 768px) {
    .pagebox {
        flex-direction: column;
        gap: 0;
    }
}

.content {
    margin-top:5rem;
}
@media (max-width: 768px) {
    .content {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}