.sidebar {
    margin-left: 5rem;
    margin-top: 5rem;
    width: 20vw;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar-logo {
    width: 2rem;
    height: 2rem;
}

.sidebar a {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  transition: color 0.15s ease;
}

.sidebar a:hover {
    color: rgba(0, 0, 0, 1);
}