@font-face {
    font-family: 'GrugHand';
    src: url('./GrugHand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display:auto;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('./JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display:auto;
}

* {
    font-family: 'GrugHand', sans-serif;
}